@page "/"

<h1>Welcome to Microsoft Access Db → SQL Server Db Migrator tool</h1>

<p>
    This tool helps you migrate Microsoft Access RPMS MDB databases into SQL Server Database.<br />
    Use the dashboard to:<br />
    1) Migrate MS Access MDB File Tables<br />
        a) Extract each Table Structure<br />
    2) Import to SQL Server<br />
        a) Create a SQL Server Database <br />
        b) For each Table Structure from the Access Database create a comparable SQL Server table"<br />
    3) Migrate the data from the Access Tables to the SQL Tables<br />
    4) Add a unique ID field (primary key) for each of the RP.mdb Tables.<br />
    5) Use the unique ID / Primary key to represent current table relationships.<br />
</p>

